@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section{
    padding: 2rem 1rem;
    background-color:khaki;
    border-radius: 10px;
    margin: 0 0% 2% 0;
}

main section img:last-of-type{
    margin: 1.5rem 0 0rem 0;
}

h2{
    padding: 0 0 1rem 0;
    text-decoration: underline;
}

p{
    display: inline;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color:seagreen;
    margin: 0 0 1rem 3rem;
    text-align: left;
}

.block1 button{
    padding: 2% 5%;
    border-radius: 10px;
    border: none;
    background-color:salmon;
    box-shadow: 0px 0px 5px 1px;
    margin: 1rem 0 0 14.5rem;
    font-size: 1rem;
    transition: .2s ease-in-out;

}

button:active{
    transform: scale(.9);
}

.block1 h1{
    text-align: center;
    padding: 0 0 1.5rem 0;
}

.block1-1 label{
    display: inline-block;
    padding: 0 5.5rem 1rem 0;
}

.block1-1 input{
    border: none;
    padding: .3rem 0;
}

.block1-1 span::after{
    content: "€"
}

.block1-2{
    display: flex;
}

.block1-2 div{
    display: flex;
}

.block1-2 label{
    padding: 0 3rem 1rem 0;

}

.block1-3 label{
    padding: 0 14rem 0rem 0;
}

.block1-3 select{
    padding: 1% 2%;
}

.block1-3{
    padding: 0 0 1rem 0;
}

.block1-4 label{
    padding: 0 6.6rem 0 0;
}

.block1-4 select{
    padding: 1% 2%;
    text-align: center;
}

.block2{
    display: flex;
}

.block2 h2:nth-of-type(1){
    padding: 1rem 0 1.5rem 0;
}

.block2 h2:nth-of-type(2){
    padding: 1rem 0 1.5rem 0;
}

.block2 h2:nth-of-type(3){
    padding: 1rem 0 1.5rem 0;
}

#radio1{
    margin: 0 1rem 0 0;
    
}

#radio2{
    margin: 0 1rem 0 0;
}

.simpsons{
    height: 200px;
    transition: opacity 1s linear;
    opacity: 0;
    padding: 3rem 0 0 1rem;
}

.aside1{
    display: flex;
    flex-direction: column;
}

.aside2{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

img{
    max-width: 100%;
}

@media only screen and (max-width: 414px){
    /* main{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    img{
        width: 100px;
        height: 50px;
    } */
    img{
        position: absolute;
    }
    main>img:nth-of-type(1){
        top: 99px;
    }
    main>img:last-of-type{
        bottom: 95px;
    }
    .aside img:nth-of-type(1){
        display: none;
    }
    .aside img:nth-of-type(2){
        display: none;
    }
}